main
{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    background-color: #222831;
}

content
{
    border: 2px solid #00ADB5;
    background-color: #393E46;
    color: #EEEEEE;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #00ADB5;
    padding: 1em;
}

cím
{
    display: flex;
    font-size: x-large;
    color: aqua;
    justify-content: space-around;
    border-bottom: solid #00ADB5 3px;
}

megnevezés::before
{
    content: " \1F4DA ";
}

megnevezés::after
{
    content: " \1F589 ";
}

dátum::before
{
    content: "Létrehozás dátuma: (";
}

dátum::after
{
    content:")";
}

teendők
{
    display: flex;
    flex-direction: column;
    counter-reset: sorszám;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5em;
    margin: 1em auto;
    margin-bottom: 0;
}

teendők:last-child
{
    padding-bottom: 0;
}

teendő
{
    padding-top: 0.5em;
}

teendő[piorítás="magas"]
{
    color: red;
}

teendő[piorítás="közepes"]
{
    color: orange;
}

teendő[piorítás="alacsony"]
{
    color: greenyellow;
}

teendő > témanév::before 
{
    content: counter(sorszám) ".";
    counter-increment: sorszám;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
    color: gold;
}

témanév
{
    font-style: bold;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v15/KFO-CneDtsqEr0keqCMhbC-BL9H4tY12eg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    margin-inline: 0.5em;
}

leírás, kezdet, határidő, vég
{
    color: #EEEEEE;
    margin-inline: 0.25em;
}

témanév::after
{
    content: ":";
}

címke
{
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: darkgreen;
    color: cyan;
    margin-inline: 0.25em;
}

kezdet::before
{
    color: lightgray;
    font-size: small;
    content: "Felvéve a listára: ";
}

határidő::before
{
    color: lightgray;
    font-size: small;
    content: "Határidő: ";
}

vég::before
{
    color: lightgray;
    font-size: small;
    content: "Feladat lezárult: "
}

teendő:hover
{
    background-color: black;
    font-style: bold;
}

teendő::after
{
    font-style: bold;
    content: attr(állapot);
}

teendő[állapot="Sikertelen"]::after 
{
    color: orangered;
}

teendő[állapot="Kész"]::after 
{
    color: green;
}

teendő[állapot="Folyamatban"]::after
{
    color: yellow;
}